parameters:
    level: 5
    paths:
        - src
    checkUninitializedProperties: true
    inferPrivatePropertyTypeFromConstructor: true

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
